modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25863
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BDnu30ntBGzeZkK0PwEyhEw4MM5PzwKUTqI4qGGn4C4eKahuthuC0gJOD3sR_CPh0H4LuK8a9HSm8vNfSBNRNRQ"
VAPID_PRIVATE_KEY = "4P25bpWy-yl-RD7AX27-XLSCydUJk9U6AnZKB8ADVmY"
